<h2>Login</h2>
<hr>
<form [formGroup]="frmLogin" (ngSubmit)="onLogin()">
  <div class="form-row align-items-center">

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Username</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username"
          formControlName="username">
      </div>
    </div>

  </div>

  <div class="form-row align-items-center">

    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Password</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Password</div>
        </div>
        <input type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password"
          formControlName="password">
      </div>
    </div>


  </div>

  <div class="form-row align-items-center">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" [disabled]="frmLogin.invalid">Submit</button>
    </div>
  </div>
</form>

<div class="alert alert-danger" role="alert" *ngIf="errorMsg != ''">
  {{errorMsg}}
</div>
