<form (ngSubmit)="saveCar(f)" #f="ngForm">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">ชื่อรถ</label>
        <input type="text" class="form-control" placeholder="ชื่อรถ" [(ngModel)]="car.name" name="name" #name="ngModel"
          required>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Model</label>
        <input type="text" class="form-control" placeholder="Model" [(ngModel)]="car.model" name="model"
          #model="ngModel">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">ราคา</label>
        <input type="number" class="form-control" placeholder="ราคา" [(ngModel)]="car.price" name="price"
          #price="ngModel" required>
      </div>
    </div>
    <div class="col-md-3">
      <label for="">&nbsp;</label><br>
      <button class="btn btn-primary" *ngIf="flag=='NEW'" type="submit">OK</button>

      <button class="btn btn-warning" type="button" *ngIf="flag=='EDIT'" (click)="onSaveEdit()">Save Edit</button>
    </div>
  </div>
</form>
<!-- <div class=" row">
  <div class="col-md-12 car">
    <h2>ข้อมูลรถ {{name}}</h2>
    <span>Model: {{model}}
      ราคา: {{price}}</span>
  </div>
</div> -->

<!-- <h2 class="blue">ข้อมูลรถ {{car.name}}</h2>
Model: {{car.model}}
ราคา: {{car.price}} -->

<!-- <div *ngFor="let c of cars">
  <h2>ข้อมูลรถ {{c.name}}</h2>
  Model: {{c['model']}}
  ราคา: {{c.price}}
</div> -->

<button class="btn btn-info" type="button" (click)="exportToExcel()">ส่งออก Excel</button>

<table class="table table-striped table-hover table-bordered" #export>
  <thead>
    <tr class="bg-dark text-white">
      <td>#</td>
      <th width="50%">ชื่อยี่ห้อ</th>
      <th>รุ่น</th>
      <th>ราคา</th>
      <th>Vat</th>
      <th>จัดการ</th>
    </tr>
  </thead>
  <tbody>
    <!-- while ($rs = mysql_fetch_assoc){} -->
    <tr *ngFor="let rs of cars | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{rs.name}}</td>
      <td>
        <span *ngIf="rs.model =='' || rs.model == null">-</span>
        <span *ngIf="rs.model !='' && rs.model != null">{{rs.model}}</span>
      </td>
      <td>{{rs.price | number:'0.2-2'}}</td>
      <td>{{rs.vat}}</td>
      <td><button type="button" class="btn btn-warning" (click)="onEdit(rs, i)">แก้ไข</button></td>
    </tr>
  </tbody>

</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
